# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
env/
.python-version

# Node.js/React
node_modules/
dist/
npm-debug.log
.DS_Store

# IDE
.vscode/
.idea/

# Данные и медиа
*.jpg
*.png
*.jpeg
*.mp4

# Системные файлы
Thumbs.db
